html, body {
  margin-left: 20px;
  margin-right: 20px;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: #333;
  background-color: #fff;
}

canvas {
  display: block;
}

#sketch-holder {
  margin: 0;
  display: flex;
  max-width: 100%;
  justify-content: center;
}

pre {
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 5px;
  overflow-x: auto;
}

table {
  margin-left: 2rem;
  border-collapse: collapse;
  width: 30rem;
  margin-bottom: 20px;
  background-color: beige;
}

.propname {
  color: #000080;
  width: 35%;
}

.propvalue {
  text-align: left;
  color: #1e90ff;
}

.textfield {
  width: 90%;
  padding: 5px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}